<div class="container">
    <div class="row justify-content-center m-1">
        <div class="col-12 col-md-10 col-xl-8">

            <!--Send money title-->
            <div class="row mt-2">
                <div class="col-6 p-0">
                    <h5 class="pt-2">Send Money</h5>
                </div>
                <div class="col-6 p-0">
                    <button class="btn btn-primary rounded-xl float-end" routerLink="/home/contact">
                        Add Connection
                    </button>
                </div>
            </div>
            <!--Send money formular-->
            <form [formGroup]="requestTransactionForm" (ngSubmit)="requestTransaction()">
                <div class="row bg-light py-5 px-sm-3 px-lg-5">
                    <div class="col-5">
                        <select name="receiver" class="form-select" formControlName="receiverId">
                            <option [ngValue]="null" disabled selected>Select a Connection</option>
                            <option *ngFor="let connection of connections" [value]="connection.connectionId">
                                {{connection.firstname}} {{connection.lastname}}
                            </option>
                        </select>
                    </div>
                    <div class="col-3">
                        <input type="number" class="form-control" formControlName="amount" placeholder="0.00 &euro;"
                            min="1.00" max="999.99" step="0.01">
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-success rounded-xl w-100">Pay</button>
                    </div>
                    <div class="col-5 invalid-msg">
                        <small *ngIf="check(requestTransactionForm,'receiverId','required')" class="text-danger">
                            A connection is required.
                        </small>
                    </div>
                    <div class="col-7 invalid-msg">
                        <small *ngIf="check(requestTransactionForm,'amount','required')" class="text-danger">
                            An amount is required.
                        </small>
                        <small *ngIf="check(requestTransactionForm,'amount','min')" class="text-danger">
                            The amount can't be less than 1.00.
                        </small>
                        <small *ngIf="check(requestTransactionForm,'amount','max')" class="text-danger">
                            The amount can't exceed 999.99.
                        </small>
                    </div>

                </div>
            </form>

            <!--My transactions title-->
            <div class="row mt-3">
                <div class="col p-0">
                    <h5 class="pt-2">My Transactions</h5>
                </div>
            </div>
            <!--My transaction table-->
            <div class="row border border-dark ">
                <div class="table-responsive p-0">
                    <table class="table mytable table-striped table-borderless m-0">
                        <thead>
                            <tr>
                                <th scope="col">Connections</th>
                                <th scope="col">Description</th>
                                <th scope="col">Date</th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr scope="row" *ngIf="transactions.length==0">
                                <td colspan="4">You don't have any transaction at this moment.</td>
                            </tr>
                            <tr scope="row" *ngFor="let transaction of transactions">
                                <td
                                    [ngClass]="{'fst-italic' : transaction.emitterId ==0 || transaction.receiverId ==0}">
                                    <span *ngIf="transaction.emitterId == userId; else asReceiver">
                                        {{transaction.receiverFirstname}} {{transaction.receiverLastname}}
                                    </span>
                                    <ng-template #asReceiver>
                                        {{transaction.emitterFirstname}} {{transaction.emitterLastname}}
                                    </ng-template>
                                </td>
                                <td>{{transaction.date}}</td>
                                <td>{{transaction.description}}</td>
                                <td>
                                    {{transaction.emitterId == userId ? "-" : "+"}}
                                    {{transaction.amount | currency : 'EUR' : 'symbol' : '1.2-2' : 'fr'}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--My transaction nav-->
            <div class="row">
                <div class="col">
                    <ul class="nav nav-pills justify-content-center">
                        <li class="nav-item border">
                            <a class="nav-link" (click)="onPrec()">&lt;&lt;</a>
                        </li>
                        <li class="nav-item border" *ngFor="let p of pages; let i=index">
                            <a class="nav-link" [ngClass]="{'active': i==currentPage}" (click)="onPage(i)">{{i+1}}</a>
                        </li>
                        <li class="nav-item border">
                            <a class="nav-link" (click)="onNext()">&gt;&gt;</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Transaction Modal -->
<div class="modal fade" id="confirmTransactionModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form [formGroup]="confirmTransactionForm" (ngSubmit)="confirmTransaction()">

                <!--Header-->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Transaction</h5>
                    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
                </div>

                <!--Content-->
                <div class="modal-body">
                    <div class="row" *ngIf="error != ''" class="alert alert-danger text-center">
                        {{error}}
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <table class="w-100">
                                <tbody>
                                    <tr>
                                        <td>Transaction to:</td>
                                        <td class="text-end">{{request.receiverFirstname}} {{request.receiverLastname}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Amount:</td>
                                        <td class="text-end">{{request.amount | currency : 'EUR' : 'symbol' : '1.2-2' :
                                            'fr'}}</td>
                                    </tr>
                                    <tr>
                                        <td>Fare:</td>
                                        <td class="text-end text-danger">{{fare | currency : 'EUR' : 'symbol' : '1.2-2'
                                            : 'fr'}}</td>
                                    </tr>
                                    <tr class="border-top">
                                        <td>Total:</td>
                                        <td class="text-end">{{request.amount + fare | currency : 'EUR' : 'symbol' :
                                            '1.2-2' : 'fr'}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <input type="text" class="form-control" formControlName="description"
                                placeholder="Description">
                        </div>
                        <div class="col-12" style="margin-bottom: -2rem;">
                            <small *ngIf="check(confirmTransactionForm,'description','required')" class="text-danger">
                                An description is required.
                            </small>
                        </div>
                    </div>
                </div>

                <!--Footer-->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Confirm</button>
                </div>

            </form>
        </div>
    </div>
</div>