.icon {
    color: #5cb95c;
}

.mytable>tbody>tr>td, .mytable>tbody>tr>th, .mytable>tfoot>tr>td, .mytable>tfoot>tr>th, .mytable>thead>tr>td, .mytable>thead>tr>th {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.mytable>thead>tr>td, .mytable>thead>tr>th {
    padding: 30px;
    color: white;
    background-color: #5cb95c;
}

.small{
    font-size:  0.8rem;
}